body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

span.expense {
  color : red;
  font-weight: bold;
  float: right;
}

span.income {
  color : green;
  font-weight: bold;
  float: right;
}
